{{- $locustVerion := include "locust.version" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "locust.fullname" . }}-master
  labels:
    {{- include "locust.master.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.master.replicaCount }}
  selector:
    matchLabels:
      {{- include "locust.master.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "locust.master.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "locust.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ $locustVerion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "locust"
          args:
            - "-f"
            - "{{ .Values.locustFile }}"
            - "--master"
            - "--master-bind-port=5557"
            - "--master-port=5557"
            {{- range .Values.master.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          ports:
            - name: http
              containerPort: 8089
              protocol: TCP
            - name: http-worker
              containerPort: 5557
              protocol: TCP
          resources:
            {{- toYaml .Values.master.resources | nindent 12 }}
          env:
          {{- range $key, $value := .Values.environmentVariables }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- range $key, $value := .Values.master.environmentVariables }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- if .Values.master.volumeMounts }}
          volumeMounts:
            {{- toYaml .Values.master.volumeMounts | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      {{- if .Values.master.extraVolumes }}
        {{ toYaml .Values.master.extraVolumes | nindent 8 }}
      {{- end }}
