{{- $locustVerion := include "locust.version" . -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "locust.fullname" . }}-worker
  labels:
    {{- include "locust.worker.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.worker.replicaCount }}
  selector:
    matchLabels:
      {{- include "locust.worker.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "locust.worker.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "locust.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ $locustVerion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "locust"
          args:
            - "-f"
            - "{{ .Values.locustFile }}"
            - "--worker"
            - "--master-host={{ include "locust.fullname" . }}-master"
            - "--master-port=5557"
            {{- range .Values.worker.extraArgs }}
            - {{ . | quote }}
            {{- end }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
          env:
          {{- range $key, $value := .Values.environmentVariables }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- range $key, $value := .Values.worker.environmentVariables }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
           volumeMounts:
          {{- if .Values.worker.extraVolumeMounts }}
            {{- toYaml .Values.worker.extraVolumeMounts | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      {{- if .Values.worker.extraVolumes }}
        {{ toYaml .Values.worker.extraVolumes | nindent 8 }}
      {{- end }}
