apiVersion: v1
kind: Service
metadata:
  name: {{ include "locust.fullname" . }}-master
  labels:
    {{- include "locust.master.labels" . | nindent 4 }}
  annotations:
  {{- if .Values.service.annotations }}
{{ toYaml .Values.service.annotations | indent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 5557
      targetPort: http-slave
      protocol: TCP
      name: http-slave
  selector:
    {{- include "locust.master.selectorLabels" . | nindent 4 }}
