{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "locust.serviceAccountName" . }}
  labels:
{{ include "locust.master.labels" . | nindent 4 }}
{{- end -}}
